{% load staticfiles %}


<!DOCTYPE html>
<html>
  {% include "edmoneyball/head.html" %}
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
  </head>
  <body>
    {% include 'edmoneyball/navbar.html' %}

    <div id="map"></div>
    <script>

    function initMap() {
    var myLatLng = {lat: {{user.1}}, lng: {{user.2}} };
    var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 14,
    center: myLatLng
    });
    var image = 'http://camino-portugues-a-santiago.destino.gal/img/blue_dot.png';

    {% for data in info %}
    point = { lat: {{ data.5 }}, lng: {{ data.6 }} }
    var marker = new google.maps.Marker({
    position: point,
    map: map,
    icon: image,
    title: ' {{ data.0 }} ',
    address: '{{ data.1}}',
    schooltype: '{{ data.3 }}',
    grades: '{{data.2}}',
    students: '{{data.4}}'
    });

    var infowindow = new google.maps.InfoWindow({
    content: " "
    });

    google.maps.event.addListener(marker, 'click', function() {
    infowindow.setContent('<p>School Name: ' + this.title + '</p>' +
                       '<p> Address: ' + this.address + '</p>' +
                       '<p> School Type: ' + this.schooltype + '</p>' +
                       '<p> Grades: ' + this.grades + '</p>' +
                       '<p> Total Students: ' + this.students + '</p>' + 
                '<button onclick="getschoolname(\'' +this.title+ '\')">Click Here for more info </button>');
    infowindow.open(map, this);
    });
    
     {% endfor %}
    var polygoncoords = [];

    {% for latlon in zone %}
    point = { lat: {{ latlon.1 }}, lng: {{ latlon.0 }} }
    polygoncoords.push(point);
    {% endfor %}

    var polygon = new google.maps.Polygon({
    paths: polygoncoords,
    strokeColor: '#FF0000',
    strokeOpacity: 0.8,
    strokeWeight: 3,
    fillColor: '#FF0000',
    fillOpacity: 0.35
    });
    polygon.setMap(map);
    
    }
    
    </script>
    {% include "edmoneyball/javascript.html" %}
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3MgwYmLVdZ6FUuftS3d-Yf85HbniwypY&signed_in=true&callback=initMap">
    </script>
  </body>
</html>