<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Simple markers</title>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
  </head>
  <body>
    
    <form id='userinput' action="http://127.0.0.1:8000/edmoneyball/homepage/" method = "post" >
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
    </form>
    
    <form action="http://127.0.0.1:8000/edmoneyball/comparisontool" >  
    <input type="submit" value="Go to Comparison Tool">
    </form>
    
    <form action="http://127.0.0.1:8000/edmoneyball/recommendationtool" >  
    <input type="submit" value="Go to Recommendation Tool">
    </form>
    
    <div id="map"></div>
    <script>
  
function getschoolname (schoolname) {
  document.getElementById("id_address_form").value = schoolname;
  document.getElementById("userinput").submit();
}
function initMap() {
  var myLatLng = {lat: {{location.0.1}}, lng: {{location.0.2}} };

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 12,
    center: myLatLng
  });

  var ctaLayer = new google.maps.KmlLayer({
  url: 'https://www.dropbox.com/s/fsmbt0sntrxffpx/network%20boundaries.kml?dl=1',
  map: map
  });

  {% for latlon in location %}
  
  var infoWindowContent = [
    "<b>Get Directions From...</b><br />",
    "<form id='map-form'>",
    "Address/Postcode: <input id='map-from-address' type='text' />",
    "<input type='submit' id='map-go' value='Go' />",
    "</form>"
].join("");
  

  point = { lat: {{ latlon.1 }}, lng: {{ latlon.2 }} }
  
  var schoolname = '{{ latlon.0 }}'

    marker = new google.maps.Marker({
    position: point,
    map: map,
    title: '{{ latlon.0 }}',
    clickable: true
  });
  
    
    marker['infowindow'] = new google.maps.InfoWindow({
    content: infoWindowContent
  });

    google.maps.event.addListener(marker, 'click', function() {
    this['infowindow'].open(map, this);
  });

  {% endfor %}

  //var infowindow = new google.maps.InfoWindow({
  //content: 'schoolname_blah',
  //maxWidth: 200
  //});
}

    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3MgwYmLVdZ6FUuftS3d-Yf85HbniwypY&signed_in=true&callback=initMap"></script>
  </body>
</html>