

<!DOCTYPE html>
<html lang="en">

{% include "edmoneyball/head.html" %}

<body>

{% include "edmoneyball/navbar.html" %}

    <header id="top" class="row">
        <div class="col-lg-12 text-left">
            <h2> {{ school }}</h3>
        </div>
    </header>
    
        <iframe id="plot1" width="800" height="480" frameborder="0" 
            scrolling="no" src= {{url1}}></iframe>
        <iframe id="plot2" width="800" height="480" frameborder="0" 
            scrolling="no" src={{url2}}></iframe>
        <iframe id="plot3" width="800" height="480" frameborder="0" 
            scrolling="no" src= {{url3}}></iframe>
        <iframe id="plot4" width="800" height="480" frameborder="0" 
            scrolling="no" src= {{url4}}></iframe>
</body>
</html>
{% include "edmoneyball/javascript.html" %}
