<!-- CS 122 Project: EdMoneyBall
Bootstrap for navigation bar
Created by: Vi Nguyen, Sirui Feng, Turab Hassan
-->


<!-- Navigation -->
    <a id = "menu-toggle" href = "#" class = "btn btn-dark btn-lg toggle">
        <i class = "fa fa-bars"></i></a>
    <nav id = "sidebar-wrapper">
        <ul class = "sidebar-nav">
            <a id = "menu-close" href="#" 
            class ="btn btn-light btn-lg pull-right toggle"><i 
            class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="http://127.0.0.1:8000/edmoneyball/index" 
                onclick = $("#menu-close").click(); >Home</a>
            </li>
            <li>
                <a href="http://127.0.0.1:8000/edmoneyball/explore" 
                onclick = $("#menu-close").click(); >Explore a School</a>
            </li>
            <li>
                <a href="http://127.0.0.1:8000/edmoneyball/comparisontool" 
                onclick = $("#menu-close").click(); >Compare Schools</a>
            </li>
            <li>
                <a href="http://127.0.0.1:8000/edmoneyball/recommendationtool" 
                onclick = $("#menu-close").click(); >Get Recommendations</a>
            </li>
            <li>
                <a href="http://127.0.0.1:8000/edmoneyball/methodology" 
                onclick = $("#menu-close").click(); >Methodology</a>
            </li>
        </ul>
    </nav>