<!-- CS 122 Project: EdMoneyBall
Page to display the charts of a school that user selected from 
recommendation.html, in case when all the returned schools met the criteria 
Created by: Vi Nguyen, Sirui Feng, Turab Hassan
-->

{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">

{% include "edmoneyball/head.html" %}

<body>

{% include "edmoneyball/navbar.html" %}


    <header id="top" class="row">
        <div class="col-lg-12 text-left">
            <h2>Our Recommendations</h3>
            <br>
            <p class="lead">{{ school0 }}</p>
            <p class="lead">{{ school1 }}</p>
            <p class="lead">{{ school2 }}</p>
            <p class="lead">{{ school3 }}</p>
            <p class="lead">{{ school4 }}</p>
            <p class="lead>"> ***Please note that all or some of the recommended 
                schools do not match your <b> {{ not_met }} </b> threshold(s). 
                This is because none or less than 5 schools meet your criteria. 
                In such cases, we are recommending the schools that meet your 
                criteria (if any), and the schools with the top academic 
                performance. 
            </p>

                <iframe width="800" height="480" frameborder="0" 
                    scrolling="no" src={{url1}}></iframe>
                <iframe width="800" height="480" frameborder="0" 
                    scrolling="no" src={{url2}}></iframe>
                <iframe width="800" height="480" frameborder="0" 
                    scrolling="no" src={{url3}}></iframe>
                <iframe width="800" height="480" frameborder="0" 
                    scrolling="no" src={{url4}}></iframe>
        </div>
    </header>
</body>
</html>
{% include "edmoneyball/javascript.html" %}