<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "edmoneyball/head.html" %}
        <title>Schools Comparison</title>
    </head>

        <body>
        {% include 'edmoneyball/navbar.html' %}
        <h1>Comparisons</h1>

        <iframe width="800" height="480" frameborder="0" scrolling="no" src={{url1}}></iframe>
        <iframe width="800" height="480" frameborder="0" scrolling="no" src={{url2}}></iframe>
        <iframe width="800" height="480" frameborder="0" scrolling="no" src={{url3}}></iframe>
        <iframe width="800" height="480" frameborder="0" scrolling="no" src={{url4}}></iframe>
        </body>
</html>
{% include "edmoneyball/javascript.html" %}