{% load bootstrap %}
{% load staticfiles %}

<body>
{% include "edmoneyball/navbar.html" %}

{% include "edmoneyball/head.html" %}

    <header id="top" class="row">
        <div class="col-lg-12 text-left">
            <h2>Recommendation Tool</h3>
            <p class="lead">Select your threshold for any or all of the criteria below. We'll recommend the top 5, and help you visualize how their compare expenditures, performance, and diversity</p>
        </div>
    </header>

</body>

    <form action = "http://127.0.0.1:8000/edmoneyball/recommendationtool" method = "post">
        {% csrf_token %}
        {{ form|bootstrap_horizontal:'col-lg-2' }}
        <table style="width:100%">
        </table>
        <input type = "submit" value = "Submit" />
    </form>

{% include "edmoneyball/javascript.html" %}