<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Simple markers</title>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
  </head>
  <body>
    <form action="/googlemaps/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
    </form>
    
    <div id="map"></div>
    <script>

function initMap() {
  var myLatLng = {lat: {{location.0.0}}, lng: {{location.0.1}} };

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 12,
    center: myLatLng
  });
  {% for latlon in location %}
  point = { lat: {{ latlon.0 }}, lng: {{ latlon.1 }} }
  var marker = new google.maps.Marker({
    position: point,
    map: map,
    title: 'Hello World!'
  });
  {% endfor %}
}

    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3MgwYmLVdZ6FUuftS3d-Yf85HbniwypY&signed_in=true&callback=initMap"></script>
  </body>
</html>