<!DOCTYPE html>
<html lang="en">
<head>
    <!-- This is a comment:link rel="stylesheet" href="style.css" / -->
    <title>Schools Comparison</title>
    

</head>

<body>

<h1 style="font-family:verdana; color:black; text-align:center;">School Comparisons</h1>

<iframe id="plot1" width="800" height="480" frameborder="0" scrolling="no" src={{url1}}></iframe>
<iframe id="plot2" width="800" height="480" frameborder="0" scrolling="no" src={{url2}}></iframe>
<iframe id="plot3" width="800" height="480" frameborder="0" scrolling="no" src={{url3}}></iframe>
<iframe id="plot4" width="800" height="480" frameborder="0" scrolling="no" src={{url4}}></iframe>
<form action="http://127.0.0.1:8000/edmoneyball/homepage" >  
    <input type="submit" value="Go to Homepage">
    </form>

</body>
</html>
